body{
    box-sizing: border-box;
    background: url('../IMG/background.jpg') no-repeat;
    background-size: cover;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #EDE0D4;
   
   

}


section
{
    background:  #B08569;
    min-height: 800px;
}
footer
{
    background-color: #774936;
    text-align: center;
}

.img_footer {
    height: 5em;
}

.pousse {
height: 5em;
}

.footer-link a
{
    color: #B08569;
}
.navbar-item a
{
    color: #EDC4B3;
    font-weight: bold;
    
}
.lateral img
{
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
.lateral img:hover
{
   
   border-radius: 25%;
   transform: translateX(3px);
   transition: .2s ease;
}
.invisible
{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.client-view
{
    box-shadow: 2px 1px 5px #787879;
    border-radius: 5px;
}
table
{
    font-size: 16px;
}
table th{
    color: #747474;
    background-color: #ECECEC;
   
}
h3
{
    color: #E6B8A2;
    
}
label
{
    color: #EDC4B3;
    font-weight: 600;
}
label:hover{
    color: #E6B8A2 ;
    transform: translateX(3px);
    transition: .2s ease;

}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.cadre {
    color : #8fce4e;
    background-color: #9C6644;
}