@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    box-sizing: border-box;
    background: url("../IMG/bg.jpg") no-repeat;
    background-size: cover;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
   
   

}

header
{
    background-color: #E6CCB2;
    height: 200px;
}
.bonjour a:hover
{
    color: #8A5A44 !important;
    transform: translateX(3px) !important;
    transition: .2s ease !important;
}
.bonjour a{
    color: #004279;
    font-size: 20px;
    font-weight: bold;

}
.bonjour h4{
    color: #004279;
    font-weight: bold;
}
section
{
    background:  #DDB892;
}
footer
{
    background-color: #774936;
    text-align: center;

}
.footer-link a
{
    color: #B08569;
}

.img_footer {
    height: 5em;
}

.pousse {
height: 5em;
}

.gestion
{
  
    height:60px;
    width:80px;
   
}
header a
{
    color: #004279;
    font-size: 20px;

}
header a:hover
{
    color: #8A5A44 !important;
    transform: translateX(3px) !important;
    transition: .2s ease !important;
    
}
header img:hover
{
    box-shadow: 3px 2px 10px #2C2D2F;
   border-radius: 15%;
    transform: translateX(3px);
    transition: .2s ease;
}
section
{
    min-height: 400px;
}
.logout
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.modif img
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
   
}
.modif a{
    color: #004279;
    font-size: 20px;
}
.modif img:hover
{
    box-shadow: 3px 2px 10px #2C2D2F;
   
    transform: translateX(3px);
    transition: .2s ease;
}
.modif a:hover{
    color: #8A5A44 ;
    transform: translateX(3px);
    transition: .2s ease;

}
table th{
    color: #747474;
    background-color: #CD9777
}
.formAdd
{
    background-color: #CD9777;
    box-shadow: 3px 2px 10px #2C2D2F;

}
.formAdd label{
    font-size: 18px;
    color: #004279;
    font-weight: 800;
}

.icone {
    height: 15px;
}
